<main class="main">
    <nav class="enlaces">
        <div class="enlace">Acerca de nosotros</div><br>
        <div href="" class="enlace">Copyright</div><br>
        <div href="" class="enlace">Privacidad</div><br>
        <div href="" class="enlace">Contacto</div><br>
    </nav>
    <div class="contenido">
        <h1 class="tittle">Open Log</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iusto quibusdam eaque quia deleniti cumque architecto voluptatibus nesciunt quidem quos dolorem, ea, in atque amet id, quo vitae quam voluptate?
            <br/>
            <br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum et officia ex! Ipsum, nesciunt nemo? Deserunt vel iusto magnam beatae blanditiis explicabo adipisci! Asperiores odio nemo cumque voluptatem consectetur sapiente!
        </p>
    </div>
</main>