<div class="background" (click)="closeLogin()">
    <div class="box" (click)="clickBox()">
        <p class="registro">Tienes una cuenta?<a href="#">Registrate</a> </p>
        <h1 class="title">Inicio de sesion</h1>
        <form class="inicioS">
            <label for="username">Nombre de Usuario</label>
            <input id="username" type="text" placeholder="Escribir nombre de usuario">
            <label for="password">Contraseña</label>
            <input id="password" type="password" placeholder="Escribir contraseña">
            <input type="submit">
        </form>
    </div>
</div>