<div class="background" (click)="closeLogin()" >
   <div class="box" (click)="clickBox()" *ngIf="!Register">
        <p class="registro">Tienes una cuenta?<a (click)="clickLink()">Registrate</a> </p>
        <h1 class="title">Inicio de sesion</h1>
        <form class="inicioS">
            <label for="usernameI">Nombre de Usuario</label>
            <input id="usernameI" type="text" placeholder="Escribir nombre de usuario">
            <label for="passwordI">Contraseña</label>
            <input id="passwordI" type="password" placeholder="Escribir contraseña">
            <input type="submit">
        </form>
    </div>
    <div class="box register" (click)="clickBox()" *ngIf="Register">
        <p class="registro">Ya tienes una cuenta?<a (click)="clickLink()">Inicia sesion</a> </p>
        <h1 class="title">Registro</h1>
        <form class="inicioS">
            <div class="box-form">
                <div>
                    <label for="name">Nombres</label>
                    <div class="box-form">
                        <input id="name" type="text" placeholder="Primer nombre">
                        <input type="text" placeholder="Segundo nombre">
                    </div>
                </div>
                <div>
                    <label for="lastname">Apellidos</label>
                    <div class="box-form">
                        <input id="lastname" type="text" placeholder="Primer apellido">
                        <input type="text" placeholder="Segundo Apellido">
                    </div>
                </div>
            </div>
            <div class="box-form">
                <div>
                    <label for="usernameR">Nombre de Usuario</label>
                    <input id="usernameR" type="text" placeholder="Escribir nombre de usuario">
                </div>
                <div>
                    <label for="passwordR">Contraseña</label>
                    <input id="passwordR" type="password" placeholder="Escribir contraseña">
                </div>
            </div>
            <div class="box-form">
                <div>
                    <label for="phone">Telefono</label>
                    <input id="phone" type="number" placeholder="Escribir telefono">
                </div>
                <div>
                    <label for="email">Correo</label>
                    <input id="email" type="email" placeholder="Escribir correo">
                </div>
            </div>
            <div>
                    <label for="address">Direccion</label>
                    <input id="address" type="text" placeholder="Escribir direccion">
            </div>
            <div class="box-form">
                <input type="submit"> 
            </div>
        </form>
    </div> 
</div>