<header >
    <div class="header1">
        <a href="" class="address-Logo">
            <div class="logo">
                <img src="assets/img/icon.svg" alt="Icono">
                <p>Open Log</p>
            </div>
        </a>
        <Nav Class="LogIn">
            <a href="info" class="help">
                <span class="material-icons-outlined">
                    help_outline
                </span>
            </a>
            <span class="material-icons-outlined" (click)="ActivarPedidos()">
                shopping_cart
            </span>
            <span class="material-icons-outlined" (click)="abrirLogin()">
                account_circle
            </span>
        </Nav>
    </div>
    <div *ngIf="Login">
        <app-login></app-login>
    </div>
    <Nav class="optionBar">
        <a href="/Compra" class="option compra">Compra</a>
        <a href="/Diseño" class="option diseña">Diseña</a>
    </Nav>
    <aside id="pedidos">
        <div class="cerrar"(click)="ActivarPedidos()">x</div>
        <div class="shopping-card">
            <span class="material-icons-outlined">
                shopping_cart
            </span>
            <p>Carrito vacio</p>
        </div>
    </aside>
</header>

