<section class="ofertas">
    <div class="slider fade">
        <img src="" alt="">
    </div>
    <div class="slider fade">
        <img src="" alt="">
    </div>
    <div class="slider fade">
        <img src="" alt="">
    </div>
    <div class="direcciones">
        <a href="" class="atras" onclick="avanzaSlide(-1)">&#10094;</a>
        <a href="" class="adelante" onclick="avanzaSlide(1)">&#10095;</a>
    </div>
    <div class="barras">
        <span class="barra active" onclick="positionSlide(1)">

        </span>
        <span class="barra " onclick="positionSlide(2)">

        </span>
        <span class="barra" onclick="positionSlide(3)">

        </span>
    </div>
</section>