<div class="soporte">
    <div class="clicker" (click)="ActivarText()">
        <p>Soporte</p>
    </div>
    <div id="textos" class="texts">
        <div class="message-supp">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, at? Quibusdam, autem, commodi optio iste sit minus unde reiciendis ex cupiditate sequi dicta consectetur, delectus esse alias culpa velit impedit!</p>
        </div>
        <div class="message-box">
            <div class="info-box">
                <input type="text" class="message" placeholder="Escribe tu nombre">
                <input type="text" class="message" placeholder="Escribe tu correo">
            </div>
            <input type="text" class="message" placeholder="Escribe tu pregunta">
        </div>
    </div>
</div>

