.soporte{
    position: fixed;
    bottom: 0px;
    z-index: 3;
    left: 80%;
}
.clicker{
    background-color: #8a26b883;
    width: 250px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
}
.clicker:hover{
    background-color: #8926b8;
    transition: .5s;
}
.texts{
    position: relative;
    left: -150px;
    background-color: #8a26b883;
    overflow: hidden;
    height: 0px;
    animation: Active;
    transition: .5s;
    width: 400px;
    border-radius: 1rem 0 0 0;
}
.message-supp{
    background-color: #8926b8;
    padding: 1rem;
    border-radius: 2rem;
    margin: 20px;
}
.info-box{
    display: flex;
}
.message-box{
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.329);
}
.message{
    background-color: #8926b8;
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-radius: .5rem;
    color: white;
    width: 95%;
    height: 50px;
    margin: 10px;
}
.message::placeholder{
    color: rgba(255, 255, 255, 0.493);
}
.active{
    height: 450px;
    animation: Active;
    transition: .5s;
}
@keyframes Active{
    from{height: 0px;}
    to {height: 600px;}
  }