<app-slider></app-slider>
<main class="centralPag">
    <article class="BuyDesing">
        <article class="Description Compra">
            <div class="decoracion"></div>
            <div class="box">
                <h2 class="title">Compra</h2>
                <div class="text-box">
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aperiam at officiis dolorem totam eos repudiandae eius velit ab, accusantium, cumque qui perferendis a molestiae quis non natus? Maxime, sequi.</p>
                </div>
            </div>
        </article>
        <article class="Description Diseña">
            <div class="decoracion"></div>
            <div class="box">
                <h2 class="title">Diseña</h2>
                <div class="text-box">
                    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, ab quidem est natus vero cupiditate adipisci repudiandae autem corrupti labore nisi facere eaque culpa explicabo doloribus, odit molestias quibusdam quaerat?</p>
                </div>
            </div>
        </article>
    </article>
    <article class="Sends">
        <section class="descript">
            <h2 class="title">Envios</h2>
            <div class="content">
                <div class="Send funtion">
                    <h3 class="Subtitle">¿como funciona?</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi magni sunt cum quaerat distinctio inventore natus labore, debitis veritatis atque eum, quos, exercitationem commodi corporis ab. Ipsa, aliquid doloremque.</p>
                </div>
                <div class="Send rules">
                    <h3 class="Subtitle">reglas</h3>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt accusantium, vitae sapiente ex eos, libero, a voluptatum cum atque corrupti provident repellendus! Cupiditate impedit at temporibus ipsum natus et aperiam.</p>
                </div>
            </div>
        </section>
    </article>
</main>